/* 
  (C) 2005 - 2010 Mário Herák - GUNSOFT
  Autor: Mário Herák (herakm@gmail.com)
  Posledná úprava: 18.12.2009
*/

  a,
  a:link
  {
    text-decoration: none;
    color: #000;
  }

  a:hover,
  a:focus
  {
    text-decoration: underline;
    color: #fff;
  }

  a:visited
  {
    font-style: italic;
  }

blockquote {
  border: 1px dashed #000000;
  background-color: #cccccc;
  font-family: cursive;
  text-align: left;
  padding: 5px;
}

  body
  {
    margin: 0;
    padding: 0;
    background: #99cccc;
    font-family: "Bitstream Vera Sans Mono", "Courier New", monospace;
    font-size: 100%;
    color: #000;
  }

  form
  {
    margin: 0;
    padding: 0;
  }

  h1
  {
    margin-top: 0;
    margin-bottom: 0.5em; /* 0.5em is equavalent to 1em in the page's base font.
                             Remember, a margin specified in ems is relative to
                             the element's font-size, not to the pages' base
                             font size. So, for example, if we want a 1em margin
                             (relative to the base font), we have to divide that
                             length by the element's font-size:
                             1em / 2em = 0.5em */
    font-family: "Times New Roman", Times, Georgia, "Bitstream Vera Serif", serif;
    font-family: Times, "Times New Roman", Georgia, "Bitstream Vera Serif", serif;
    font-family: Georgia, "Times New Roman", "Bitstream Vera Serif", serif;
    font-size: 2em;
    line-height: 1.3em;
  }

  h2
  {
    margin-top: 0.667em; /* Equivalent to 1em in the page's base font: 1 / 1.5 = 0.667em */
    margin-bottom: 0.667em;
    font-family: "Times New Roman", Times, Georgia, "Bitstream Vera Serif", serif;
    font-family: Times, "Times New Roman", Georgia, "Bitstream Vera Serif", serif;
    font-family: Georgia, "Times New Roman", "Bitstream Vera Serif", serif;
    font-size: 1.5em;
    line-height: 1.3em;
  }

  h3
  {
    margin-top: 0.769em; /* Equivalent to 1em in the page's base font: 1 / 1.3 = 0.769 */
    margin-bottom: 0.769em;
    font-family: "Times New Roman", Times, Georgia, "Bitstream Vera Serif", serif;
    font-family: Times, "Times New Roman", Georgia, "Bitstream Vera Serif", serif;
    font-family: Georgia, "Times New Roman", "Bitstream Vera Serif", serif;
    font-size: 1.3em;
    line-height: 1.3em;
  }

  h4, h5, h6
  {
    margin-top: 0.909em; /* Equivalent to 1em in the page's base font: 1 / 1.1 = 0.909 */
    margin-bottom: 0.909em;
    font-family: "Times New Roman", Times, Georgia, "Bitstream Vera Serif", serif;
    font-family: Times, "Times New Roman", Georgia, "Bitstream Vera Serif", serif;
    font-family: Georgia, "Times New Roman", "Bitstream Vera Serif", serif;
    font-size: 1.1em;
    line-height: 1.3em;
  }

  img
  {
    border: 0 none;
  }

  input.text
  {
    font-family: "Bitstream Vera Sans Mono", "Courier New", monospace;
    color: #000;
  }

  p.hlavicka_2
  {
    margin: 0;
    padding: 3px;
    background: #fff;
    font-family: "Times New Roman", Times, Georgia, "Bitstream Vera Serif", serif;
    font-family: Times, "Times New Roman", Georgia, "Bitstream Vera Serif", serif;
    font-family: Georgia, "Times New Roman", "Bitstream Vera Serif", serif;
    font-size: 0.8em;
    font-weight: bold;
    text-align: center;
    color: #000;
  }

  p.hlavicka_2_comment
  {
    margin: 0;
    padding: 0.25em;
    background: #D0D0D0;
    font-family: Verdana, Tahoma, Arial, Helvetica, "Bitstream Vera Sans", sans-serif;
    font-family: Tahoma, Verdana, Arial, Helvetica, "Bitstream Vera Sans", sans-serif;
    font-family: Helvetica, Arial, "Bitstream Vera Sans", sans-serif;
    font-family: Arial, Helvetica, "Bitstream Vera Sans", sans-serif;
    font-size: 0.7em;
    text-align: center;
  }

  p.odkazy
  {
    margin: 0.25em 0;
    padding: 0.25em;
    background: #d5d5d5;
    font-family: Verdana, Tahoma, Arial, Helvetica, "Bitstream Vera Sans", sans-serif;
    font-family: Tahoma, Verdana, Arial, Helvetica, "Bitstream Vera Sans", sans-serif;
    font-family: Helvetica, Arial, "Bitstream Vera Sans", sans-serif;
    font-family: Arial, Helvetica, "Bitstream Vera Sans", sans-serif;
    font-size: 0.8em;
    color: #000;
    text-align: center;
  }

  p.sql_kod
  {
    margin: 0 0.25em;
    padding: 0.25em;
    background: #fff;
    border: 2px solid #000;
    font-family: "Bitstream Vera Sans Mono", "Courier New", monospace;
    font-size: 0.8em;
    text-align: justify;
  }

  select
  {
    font-family: "Bitstream Vera Sans Mono", "Courier New", monospace;
    color: #000;
  }

  span.column_comment
  {
    border-bottom: 1px #000 dashed;
  }

  table
  {
    margin: 0.25em auto;
    padding: 0;
    background: #fff;
    font-family: Verdana, Tahoma, Arial, Helvetica, "Bitstream Vera Sans", sans-serif;
    font-family: Tahoma, Verdana, Arial, Helvetica, "Bitstream Vera Sans", sans-serif;
    font-family: Helvetica, Arial, "Bitstream Vera Sans", sans-serif;
    font-family: Arial, Helvetica, "Bitstream Vera Sans", sans-serif;
    font-size: 0.7em;
  }

  td
  {
    padding: 0.25em;
  }

  th
  {
    padding: 0.25em;
    background: #d3dce3;
  }

  tr
  {
    background: #e5e5e5;
    color: #000;
  }

  tr:hover
  {
    background-color: #99cccc;
    color: #fff;
  }

  ul.obsah
  {
    margin: 0;
    padding: 0.25em;
    list-style: none;
    font-size: 0.8em;
    text-align: center;
    color: #000;
  }

  #tabulka2 td
  {
    background: #99cccc;
  }

  #zalohovat_databazu
  {
    margin: 0.25em;
    padding: 0.25em 0;
    border: 2px dashed #fff;
    background: #FF6600;
    text-align: center;
    font-weight: bold;
    color: #fff;
  }

  #manual
  {
    margin: 0.25em;
    padding: 0.25em 0;
    background: #99cc66;
    text-align: center;
    font-size: 0.8em;
    color: #fff;
  }

  #vyhladavanie_v_tabulke
  {
    margin: 0.25em;
    padding: 0.25em;
    background: #E0E0E0;
    text-align: center;
    font-size: 0.8em;
  }

  #pata_uprava_tabulky
  {
    margin: 0.25em;
    padding: 0.25em;
    line-height: 24px;
    background: #D3DCE3;
    font-size: 0.8em;
    text-align: center;
  }

.html_preview {
  margin: 5px;
  padding: 5px;
  background-color: #ffffff;
  text-align: left;
  font-family: sans-serif;
  font-size: 10pt;
  color: #000000;
}

.html_preview a,
.html_preview a:link,
.html_preview a:active {
  color: #0000ff;
  font-style: normal;
  text-decoration: underline;
}

.html_preview a:hover {
  text-decoration: none;
  font-style: italic;
}

.html_preview a:visited {
  font-style: normal;
}


/* Nepouzivane */
#stlpec_lavy {
  float: left;
  margin: 0px 0px 2px 2px;
  padding: 3px;
  width: 250px;
  text-align: center;
  border-top: 1px dotted rgb(255,255,255);
  border-right: 1px dashed rgb(255,255,255);
  border-bottom: 1px dotted rgb(255,255,255);
  border-left: 1px dotted rgb(255,255,255);
}

#stlpec_stredny {
  float: left;
  margin: 0px 0px 2px 0px;
  padding: 3px;
  width: 250px;
  text-align: center;
  border-top: 1px dotted rgb(255,255,255);
  border-right: 1px dashed rgb(255,255,255);
  border-bottom: 1px dotted rgb(255,255,255);
}

#stlpec_pravy {
  float: left;
  margin: 0px 2px 2px 0px;
  padding: 3px;
  width: 251px;
  text-align: center;
  border-top: 1px dotted rgb(255,255,255);
  border-right: 1px dotted rgb(255,255,255);
  border-bottom: 1px dotted rgb(255,255,255);
}

.form_prihl {
  width: 75px;
  height: 25px;
  font-size: 8pt;
  font-weight: bold;
  background-color: rgb(255,255,255);
  border: 1px solid rgb(0,0,0);
  color: #000000;
}

.form_prihl:hover {
  width: 75px;
  height: 25px;
  font-size: 8pt;
  background-color: rgb(0,0,0);
  border: 1px solid rgb(255,255,255);
  color: rgb(255,255,255);
  cursor: pointer;
}

#admin_okno {
  display: block;
  height: 425px;
  margin: 0px 5px 5px 5px;
  padding: 5px;
  overflow: auto;
  border: 1px solid #b01c38;
  background-color: #ffffff;
  text-align: center;
}


  .clear
  {
    clear: both;
  }

  .oznamenie
  {
    text-align: center;
    color: #009900;
  }

  .upozornenie
  {
    text-align: center;
    color: #FF6600;
  }

  .vystraha
  {
    text-align: center;
    color: #ff0000;
  }

  .tabulka
  {
    float: left;
    margin: 0.25em;
    width: 10%;
    border: 1px solid #fff;
  }

  .hlavicka
  {
    margin: 0 0 3px 0;
    padding: 3px;
    background: #fff;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    color: #99cccc;
  }

  .strany
  {
    margin: 0.25em;
    padding: 0.25em;
    background: #F0F0F0;
    text-align: center;
    font-size: 0.8em;
  }

  .strany a:hover,
  .strany a:focus
  {
    color: #000;
  }