/*
  (C) 2008 - 2009 GUNSOFT (Gallery)
  Autor: Mário Herák (herakm@gmail.com)
  Posledná úprava: 08.09.2009
*/

/* HTML Tagy - zaciatok ----------------------------------------------------------------------------------------------------------------------------*/
h1 {
  margin: 0;
  padding: 0;
  font-family: serif;
  font-size: 10pt;
  font-weight: normal;
  color: #000000;
}

h2 {
  margin: 0;
  padding: 0;
  font-family: serif;
  font-size: 12pt;
  font-weight: bold;
  color: #000000;
  text-align: center;
  text-decoration: underline;
}

h3 { display: none; }

h4 {
  margin: 0px auto 5px auto;
  font-family: sans-serif;
  font-size: 18pt;
  color: #000066;
  text-align: center;
}

a {
  text-decoration: none;
  color: #000066;
}

a:hover {
  text-decoration: underline;
  color: #000000;
}

a:visited {
  font-style: italic;
}

blockquote {
  margin: 5mm 0 5mm 0;
  padding: 5px; 
  border: none;
  font-family: serif;
  font-size: 10pt;
  font-style: italic;
  background-color: #dfdfdf;
  color: #000000;
  text-align: justify;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: serif;
  font-weight: normal;
  font-size: 8pt;
  color: #000000;
  text-align: center;
  background-image: none;
}

form.hodnotenie { display: none; }
form.vlozit_odkaz { display: none; }

img.logo { display: none; }

img.nahradza { display: none; }
/* HTML Tagy - koniec ------------------------------------------------------------------------------------------------------------------------------*/


/* CLASS triedy - zaciatok -------------------------------------------------------------------------------------------------------------------------*/
.form_fulltext {
  font-family: arial, helvetica;
  font-size: 8pt;
  color: black;
  border: 1px solid chocolate;
  padding: 2px;
}

.form_fulltext_submit {
  font-family: arial, helvetica;
  font-size: 8pt;
  color: chocolate;
  background-color: transparent;
}

.form_pole {
  border: 0px;
  font-family: monospace;
  font-size: 8pt;
  color: #000000;
}

.form_pole2 {
  border: 1px solid #000000;
  font-family: monospace;
  font-size: 8pt;
  color: #000000;
}

.form_tlacidlo {
  margin-bottom: 1px;
  height: 24px;
  background-image: url('obr/hlavne/menu_pod_hlavickou_poz.gif');
  border: 1px solid #ffffff;
  font-size: 8pt;
  font-weight: bold;
  text-align: center;
  color: #000066;
}

.form_tlacidlo:hover {
  cursor: pointer;
  border: 1px solid #000066;
  color: #ffffff;
}

.linky {
  padding: 0;
  white-space: normal;
  overflow: visible;
  border: none;
  font-family: monospace;
  font-size: 10pt;
  text-align: left;
  background-color: #ffffff;
  color: #000000;
}

.menu_polozka {
  clear: both;
  margin-bottom: 1px;
  height: 16px;
  background-image: url('obr/hlavne/menu_poloz_poz.gif');
  border: 1px solid #000066;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 8pt;
  text-align: center;
  color: #000000;
  
}

.menu_polozka2 {
  clear: both;
  margin-bottom: 1px;
  margin-left: 5px;
  margin-right: 5px;
  height: 16px;
  background-image: url('obr/hlavne/menu_poloz_poz2.gif');
  border: 1px solid #000066;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 8pt;
  text-align: center;
  color: #000000;
}

.menu_polozka3 {
  clear: both;
  margin-bottom: 1px;
  margin-left: 10px;
  margin-right: 10px;
  height: 16px;
  background-image: url('obr/hlavne/menu_poloz_poz3.gif');
  border: 1px solid #000066;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 8pt;
  text-align: center;
  color: #000000;
}

.menu_polozka4 {
  clear: both;
  margin-bottom: 1px;
  margin-left: 15px;
  margin-right: 15px;
  height: 16px;
  background-color: #dfdfdf;
  border: 1px solid #000066;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 8pt;
  text-align: center;
  color: #000000;
}

.menu_polozka5 {
  clear: both;
  margin-bottom: 1px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: #ffffff;
  border: 1px solid #000066;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 8pt;
  text-align: center;
  color: #000000;
}

.rady {
  padding: 5px;
  background-color: #cccccc;
  font-family: sans-serif;
  font-size: 7pt;
  color: #000000;
  text-align: center;
}

.tab1 {
  margin: 0;
  border: none;
  font-family: serif;
  font-size: 10pt;
  color: #000000;
}

.tab1 td {
  background-color: #ffffff;
  padding: 0;
  text-align: justify;
  color: #000000;
}

.tab1 td.autor { text-align: justify; }
.tab1 td.hodnotenie { text-align: justify; }
.tab1 td.nahradza { text-align: justify; }

.tab1 th {
  background-color: #dfdfdf;
  padding: 0;
  text-align: left;
  color: #000000;
}

.tab1 tr.vase_hodnotenie { display: none; }
.tab1 tr.na_stiahnutie { display: none; }

.tab3 { display: none; }

.tab4 {
  margin: 0px auto 5px auto;
  padding: 2px;
  border: 1px dashed #ff6b6d;
  background-color: #ffffff;
  font-family: sans-serif;
  font-size: 10pt;
  color: #000000;
}

.tab4 td {
  padding: 1px;
}

.tab4 th {
  background-color: #ff6b6d;
  padding: 5px;
  font-family: sans-serif;
  font-size: 10pt;
  text-align: center;
  color: #ffffff;
}

.tab5 {
  padding: 2px;
  font-family: monospace;
  font-size: 8pt;
  color: #000000;
}

.tab5 td { padding: 1px;}
/* CLASS triedy - zaciatok -------------------------------------------------------------------------------------------------------------------------*/


/* IDcka - zaciatok --------------------------------------------------------------------------------------------------------------------------------*/
#background {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  background-image: none;
  border: none;
  font-family: serif;
  font-size: 10pt;
  color: #000000;
}

#clanok {
  clear: both;
  float: left;
  margin: 5mm 0;
  overflow: visible;
  width: 100%;
  height: auto;
}

#fulltext_vyhladavanie_pod_hlavickou {
  float: right;
  margin-top: 2px;
  margin-right: 2px;
  height: 22px;
  background-color: transparent;
  color: chocolate;
}

#hlavicka {
  display: none;
}

#hlavne_okno {
  float: left;
  clear: both;
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  background-color: #ffffff;
  font-family: serif;
  font-size: 10pt;
  font-weight: normal;
  text-align: justify;
  color: #000000;
}

#hlavne_okno2 {
  margin: 0px 1px 1px 1px;
  padding: 5px;
  float: left;
  clear: right;
  width: 737px;
}

#menu {
  display: none;
}

#menu_pod_hlavickou {
  display: none;
}

#nazov1 {
  font-family: serif;
  font-size: 20pt;
  font-weight: bold;
  color: #000000;
}

#obrazky { display: none; }

#pata {
  clear: both;
  margin: 5mm 0;
  padding: 0;
  height: auto;
  background-image: none;
  border: none;
  text-align: center;
  color: #000000;
  font-family: monospace;
  font-size: 8pt;
}

#prave_menu {
  margin: 0;
  padding: 0;
  float: none;
  width: 100%;
  font-family: serif;
  font-size: 10pt;
  font-weight: normal;
  text-align: center;
  color: #000000;
  border: none;
  background-color: #ffffff;
  background-image: none;
}

#reklama { display: none; }
/* IDcka - koniec ----------------------------------------------------------------------------------------------------------------------------------*/