@media all and (max-width: 768px) {
	body {
		font-size: 100%;
	}
	
		#background {
			padding-bottom: 0.25em;
			width: 100%;
		}
		
			#background .header_image {
				width: 768px;
				height: 160px;
				background: url('../images/main/hlavicka.jpg') no-repeat scroll 0 0 transparent;
				overflow: hidden;
			}
			
			ul#menu_pod_hlavickou {
				height: 2em;
				margin: 0.5em;
				font-size: 1em;
			}
			
				ul#menu_pod_hlavickou li {
					line-height: 2em;
					vertical-align: middle;
					margin-left: 0.5em;
					margin-top: 0;
				}
				
					ul#menu_pod_hlavickou li:first-child {
						margin-left: 0.5em;
					}
					
			#menu {
			}
}

@media all and (max-width: 767px) {

}