/*
(C) 2008 - 2012 Mário Herák - GUNSOFT
Author: Mário Herák (herakm@gmail.com)
*/

/* HTML tagy - ZACIATOK */
a {
  text-decoration: none;
  color: #000066;
}

a:hover {
  text-decoration: underline;
  color: #000000;
}

a:visited {
  font-style: italic;
}

blockquote {
  background-color: #DFDFDF;
  line-height: normal;
  margin: 1em 0 1em 1em;
  padding: 0.5em;
}

body {
  background-color: #BFBFD8;
  color: #000000;
  font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
}
body.error {
  background-color: #ffffff;
  padding: 10px;
}

form#form-message {
  clear: both;
  margin: 0 auto;
  padding-top: 1em;
}
	#form-message .emoticons {
		border: 0 none;
		cursor: pointer;
		text-indent: -9999px;
	}
form#form-message input.text {
  border: 0 none;
  color: #000000;
  font-family: "Bitstream Vera Sans Mono","Courier New",monospace;
  font-size: 1em;
  width: 25em;
}
form#form-message table {
  background-color: #7F7FB2;
  color: #FFFFFF;
  margin: 0 auto;
  padding: 0.5em;
}
form#form-message td.left {
  font-weight: bold;
  padding-right: 0.5em;
  text-align: right;
}
form#form-message td.top { vertical-align: top; }
form#form-message textarea.text {
  border: 0 none;
  color: #000000;
  font-family: "Bitstream Vera Sans Mono","Courier New",monospace;
  font-size: 1em;
}
form#form-message th {
  background-color: #DFDFDF;
  color: #000066;
  font-family: Georgia,'Times New Roman',Times,serif;
  font-size: 1.5em;
  padding: 0.3em 0;
  text-align: center;
}
form#form-message tr { line-height: 2em; }
form#form-message ul {
  background: none repeat scroll 0 0 #FFFFFF;
  height: 35px;
  margin: 5px 0;
  padding: 1em 0 0 1em;
  width: 370px;
}
form#form-message ul li {
  background: none repeat scroll 0 0 #FFFFFF;
  float: left;
  margin-right: 10px;
}

h1 {
  font-size: 1.6em;
  line-height: 1.8em;
}

h2 {
  font-size: 1.4em;
  line-height: 1.6em;
}

h3 {
  font-size: 1.2em;
  line-height: 1.4em;
}

hr { margin: 10px 0 0; }

p {
  font-size: 1em;
  line-height: normal;
  margin: 1em 0;
}
p.signature {
  text-align: right;
  font-weight: bold;
  font-style: oblique;
}

small { font-size: 9px; }

strong { font-weight: bold; }

ul#menu_pod_hlavickou {
  background-color: #EB5757;
  height: 24px;
  margin: 5px 10px;
  font-size: 0.8em;
  color: #ffffff;
  
}
ul#menu_pod_hlavickou li {
  float: left;
  margin-top: 5px;
  margin-left: 5px;
}
ul#menu_pod_hlavickou li.first {
  margin-left: 10px;
}
/* IE 6 fix */
* html ul#menu_pod_hlavickou li.first {
  margin-left: 5px;
}
ul#menu_pod_hlavickou li a {
  color: #ffffff;
  font-weight: bold;
}
ul#menu_pod_hlavickou li a:hover {
  color: #f5abab;
  text-decoration: none;
}
/* HTML tagy - KONIEC */


/* idcka - ZACIATOK */
#background {
  background-color: #FFFFFF;
  margin: 0 auto;
  padding-bottom: 5px;
  width: 960px;
}

#clanok {
  margin-top: 10px;
  overflow: auto;
  width: 550px;
  height: 250px;
}

#fulltext_vyhladavanie_pod_hlavickou {
  float: right;
  margin-top: 2px;
  margin-right: 2px;
  height: 22px;
  background-color: transparent;
  color: chocolate;
}

#main {
  float: left;
  font-size: 0.8em;
  text-align: justify;
  width: 560px;
}
#main .mod-gallery {
  margin: 0 auto;
  width: 532px;
}
#main .mod-gallery h3 {
  border-bottom: 1px solid #000000;
  font-family: Georgia,'Times New Roman',Times,serif;
  font-size: 1.5em;
  margin-bottom: 0.5em;
  padding-bottom: 5px;
}
#main .mod-gallery img {
  float: left;
  margin: 0 5px 5px 0;
}
#main .review h3 {
  border-bottom: 1px solid #000000;
  font-family: Georgia,'Times New Roman',Times,serif;
  font-size: 1.5em;
  line-height: normal;
  padding-bottom: 5px;
}
#main .review img {

}
#main .review img.random {
  float: right;
  margin: 0 0 10px 10px;
  width: 35%;
}
#main .review ul {
	list-style: square inside none;
	margin: 1em 0 1em 1em;
}
	#main .review li {
		line-height: normal;
	}
#main .review ol {
  list-style: decimal inside none;
  margin: 1em 0 1em 1em;
}
#main .users-messages { margin: 1em auto; }
#main .users-messages .user-message {
  border: 1px solid #000066;
  margin: 0 0 5px;
}
#main .users-messages .user-message p {
  padding: 0 0.5em;
  text-align: justify;
}
#main .users-messages .user-message p.message-date {
  font-weight: bold;
  font-style: oblique;
}
#main .users-messages .user-message p.user-nick {
  background-color: #7F7FB2;
  color: #FFFFFF;
  font-weight: bold;
  margin: 0;
  padding: 0.5em;
  text-align: center;
}
#main .users-messages .user-message p.user-nick a { color: #ffffff }
#main .users-messages .user-message p.user-nick a:hover {
  color: #000000;
  text-decoration: none;
}
#main .users-messages h3 {
  font-size: 1.2em;
  line-height: 1.4em;
}
#main form.search td.right {
  text-align: right;
  font-weight: bold;
}
#main form.users-rating {
  background: none repeat scroll 0 0 #DFDFDF;
  border-bottom: 1px solid #000066;
  border-top: 1px solid #000066;
  margin: 1.5em 0;
  padding: 1em 0;
  text-align: center;
}
#main p.bread-crumbs {
  background: none repeat scroll 0 0 #7F7FB2;
  color: #FFFFFF;
  margin: 0;
  padding: 0.5em;
}
#main p.bread-crumbs a { color: #FFFFFF; }
#main p.date {
  border-bottom: 1px solid #6567A1;
  font-style: oblique;
  font-weight: bold;
}
#main p.logo {
  color: #000066;
  font-family: Georgia,'Times New Roman',Times,serif;
  font-size: 2em;
  margin: 0.5em 0;
}
#main p.logo img {
  margin-right: 0.5em;
  max-height: 128px;
  max-width: 128px;
  vertical-align: middle;
}
#main p.message {
  border-bottom: 1px solid #6567A1;
  padding-bottom: 1em;
}
#main p.rady {
  background-color: #CCCCCC;
  font-size: 0.85em;
  padding: 0.5em;
  text-align: center;
}
#main table.search-results { width: 100%; }
#main table.search-results td {
  padding: 0.25em;
  vertical-align: middle;
}
#main table.search-results tr.darker-row { background: none repeat scroll 0 0 #DFDFDF; }
#main ul.grp4 { margin-top: 10px; }
#main ul.grp4 li {
  display: block;
  float: left;
  height: 148px;
  line-height: normal;
  margin: 0 5px 5px 0;
  text-align: center;
  width: 128px;
}
#main ul.grp4 li img {
  margin-bottom: 5px;
  max-height: 128px;
  max-width: 128px;
}

#hlavne_okno2 {
  margin: 0px 1px 1px 1px;
  padding: 5px;
  float: left;
  clear: right;
  width: 737px;
}

#menu {
  background-color: #DFDFDF;
  clear: left;
  float: left;
  margin: 0 10px 5px;
  text-align: center;
  width: 180px;
}
/* IE6 fix */
* html #menu {
  margin: 0 5px;
}
#menu ul.grp1 {
  margin: 0 5px;
}
#menu ul li {
  background: url("") repeat scroll 0 0 #6567A1;
  font-size: 1em;
  line-height: 1.5em;
}
#menu ul li.grp1 {
  border: 1px solid #6567A1;
  margin-bottom: 5px;
}
#menu ul li a {
  color: #BFBFD8;
}
#menu ul li a:hover {
  text-decoration: none;
  color: #ffffff;
}
#menu ul.grp2 li {
  background: none repeat scroll 0 0 #BFBFD8;
}
#menu ul.grp2 li a {
  color: #6567A1;
}
#menu ul.grp2 li a:hover {
  color: #ffffff;
}
#menu ul.grp3 li {
  background: none repeat scroll 0 0 #ffffff;
}
#menu ul.grp3 li a {
  color: #6567A1;
}
#menu ul.grp3 li a:hover {
  color: #BFBFD8;
}
#menu ul.friends-icons li {
  background: none repeat scroll 0 0 transparent;
  line-height: 1.5em;
}

#nazov1 {
  font-family: serif;
  font-size: 20pt;
  font-weight: bold;
  color: #000000;
}

#pata {
  background: none repeat scroll 0 0 #000066;
  clear: both;
  color: #FFFFFF;
  margin: 0 10px;
  padding: 5px 0;
  text-align: center;
}
#pata a {
  color: #ffffff;
  text-decoration: none;
}
#pata a:hover {
  color: #DFDFDF;
}

#right-menu {
  border: 1px solid #DFDFDF;
  float: right;
  margin: 0 10px 5px;
  text-align: center;
  width: 178px;
}
/* IE6 fix */
* html #right-menu {
  margin: 0 5px;
}
#right-menu a {
  color: #000066;
}
#right-menu h1 {
  font-size: 1em;
  font-weight: bold;
}
#right-menu table {
  font-size: 0.8em;
  margin: 5px;
}
#right-menu td {
	background-color: #DFDFDF;
	padding: 0.3em;
	line-height: normal;
}
#right-menu td.links {
  display: block;
  overflow: auto;
  white-space: nowrap;
  width: 161px;
}
#right-menu th {
  background-color: #7F7FB2;
  color: #FFFFFF;
  padding: 0.3em 0;
  text-align: center;
}
#right-menu ul {
  margin: 0 5px;
}
#right-menu ul.rated {
  list-style: decimal inside url("");
}
#right-menu ul li {
  font-size: 0.75em;
  line-height: 1.5em;
  text-align: left;
}
/* idcka - KONIEC */


/* triedy - ZACIATOK */
.form_fulltext {
  font-family: arial, helvetica;
  font-size: 8pt;
  color: black;
  border: 1px solid chocolate;
  padding: 2px;
}

.form_fulltext_submit {
  font-family: arial, helvetica;
  font-size: 8pt;
  color: chocolate;
  background-color: transparent;
}

.warning { color: #ff0000; } /* User-Must-React message */
.attention { color: #ff6600; } /* User-Must-Notice message */
.notice { color: #00ff00; } /* User-Must-Not-Notice message */

.center { text-align: center; } /* Used to align text to center */
.justify { text-align: justify; } /* Used to align text to justify */
.right { text-align: right; } /* Used to align text to right */

.clear { clear: both; } /* Used to clear floating */
/* triedy - KONIEC */