/*
 * SimpleModal Basic Modal Dialog
 * http://www.ericmmartin.com/projects/simplemodal/
 * http://code.google.com/p/simplemodal/
 *
 * Copyright (c) 2010 Eric Martin - http://ericmmartin.com
 *
 * Licensed under the MIT license:
 *   http://www.opensource.org/licenses/mit-license.php
 *
 * Revision: $Id: basic.css 257 2010-07-27 23:06:56Z emartin24 $
 */

#basic-modal-content {
  display:none;
  background-color: #FFFFFF;
  color: #000000;
  font-family: Arial,Helvetica,"Bitstream Vera Sans",sans-serif;
  font-size: 100%;
  line-height: normal;
}
#basic-modal-content .loading {
  display: block;
  margin: 0 auto;
}
#basic-modal-content a {
  color: #0000ff;
  text-decoration: underline;
}
#basic-modal-content a:hover {
  text-decoration: none;
}
#basic-modal-content p {
  margin: 0.3em 0 1em;
  text-align: justify;
}
#basic-modal-content table {
  border-collapse: collapse;
  border-spacing: 0;
}
#basic-modal-content td {
  border: 1px solid #000000;
}
#basic-modal-content th {
  border: 1px  solid #000000;
  font-style: oblique;
  font-weight: bold;
  text-align: center;
}
#basic-modal-content ul {
  list-style: disc inside url();
  margin-left: 1em;
}
#basic-modal-content ul li {
  margin: 0.25em 0;
}

/* Overlay */
#simplemodal-overlay {
  background-color:#000000;
  cursor:wait;
}

/* Container */
#simplemodal-container {
  border: 4px solid #444444;
  height:600px;
  width:800px;
  background-color: #ffffff;
}
#simplemodal-container .simplemodal-data {
  padding: 0.5em;
}
#simplemodal-container .simplemodal-wrap {
  overflow: auto !important;
}
#simplemodal-container a.modalCloseImg {
  background: url("../images/x.png") no-repeat scroll 0 0 transparent;
  cursor: pointer;
  display: inline;
  height: 29px;
  position: absolute;
  right: -16px;
  top: -15px;
  width: 25px;
  z-index: 3200;
}