/* 
  (C) 2012 Mario Herak - GUNSOFT
  Autor: Mario Herak
  www.gunsoft.sk, gunsoft@gunsoft.sk
*/


/* Definovanie HTML tagov - ZACIATOK */
a {
    color: #000000;
    text-decoration: none;
}

a:hover, a:focus {
    text-decoration: underline;
    color: #fff;
}

b {
    font-weight: bold;
}

blockquote {
    border: 1px dashed #000000;
    background-color: #cccccc;
    font-family: cursive;
    text-align: left;
    padding: 5px;
}

body {
    background: none repeat scroll 0 0 #99CCCC;
    color: #000000;
    font-family: 'Courier New', Courier, monospace;
    font-size: 100%;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

form {
    margin: 0.25em 0;
}

form#log-in {
    background-color: #B0B0B0;
    margin: 20px auto 0;
    padding: 10px;
    text-align: center;
    width: 50%;
}

form#log-in input {
    margin: 1px 0;
}

form#log-in input.text {
    border: 1px solid #A0A0A0;
}

form#log-in label {
    font-weight: bold;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2em;
    line-height: 1.3em;
    margin: 0.25em 0;
}

h3 {
    font-family: Georgia, "Times New Roman", "Bitstream Vera Serif", serif;
    font-size: 1.3em;
    line-height: 1.3em;
    margin-bottom: 0.769em;
    margin-top: 0.769em;
}

h3.sql {
    margin: 10px;
}

input {
    color: #000000;
    font-family: "Bitstream Vera Sans Mono", "Courier New", monospace;
    font-size: 1em;
}

p.odkazy {
    background: none repeat scroll 0 0 #D5D5D5;
    color: #000000;
    font-family: Arial, Helvetica, "Bitstream Vera Sans", sans-serif;
    font-size: 0.7em;
    margin: 0.25em 0;
    padding: 0.25em;
    text-align: center;
}

p.odkazy a:hover {
    color: #ff6e02;
}

p.sql_kod {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 2px solid #000000;
    font-size: 12px;
    margin: 10px;
    padding: 5px;
    text-align: justify;
}

p#vyhladavanie_v_tabulke {
    background: none repeat scroll 0 0 #E0E0E0;
    font-size: 0.8em;
    margin: 0.25em 0;
    padding: 0.25em;
    text-align: center;
}

select {
    color: #000000;
    font-family: "Bitstream Vera Sans Mono", "Courier New", monospace;
    font-size: 1em;
}

span.tip {
    font-size: 9px;
    font-family: "Arial Black", Gadget, sans-serif;
}

table {
    background: none repeat scroll 0 0 #FFFFFF;
    border-spacing: 2px;
    color: #000000;
    font-size: 0.7em;
    margin: 0 auto;
}

td {
    vertical-align: middle;
    padding: 0.25em;
}

/* Definovanie HTML tagov - KONIEC */


/* Definovanie samostatnych tried - ZACIATOK */
.column_comment {
    border-bottom: 1px #000000 dashed;
}

/* Use to clear floating */
.clear {
    clear: both !important;
}

.hlavicka {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #99CCCC;
    font-weight: bold;
    margin: 0;
    text-align: center;
}

.notice {
    color: #009900 !important;
}

/* Use to inform user */
.caution, .attention {
    color: #FF6600 !important;
}

/* Use to point user to something important */
.warning {
    color: #FF0000 !important;
}

/* Use to point user to something that needed user's interaction */

.center {
    text-align: center !important;
}

/* Use to align text to center */
.left {
    text-align: left !important;
}

/* Use to align text to left */
.right {
    text-align: right !important;
}

/* Use to align text to right */

.top {
    vertical-align: top !important;
}

/* Use to align in-line object vertically to top */
.middle {
    vertical-align: middle !important;
}

/* Use to align in-line object vertically to middle */

.strany {
    background: none repeat scroll 0 0 #F0F0F0;
    font-size: 0.8em;
    margin: 0.25em 0;
    padding: 0.25em;
    text-align: center;
}

.strany a:hover, .strany a:focus {
    color: #000000;
}

.thumb_view {
    width: 710px;
    height: 200px;
    overflow-y: auto;
}

.thumb_frame {
    float: left;
    margin: 0 10px 10px 0;
    width: 128px;
    height: 200px;
    background: #ffffff;
    text-align: center;
    overflow-y: hidden;
}

.thumb_pic {
    width: 128px;
    height: 128px;
    background-color: #000000;
}

.thumbnail {
    background: none repeat scroll 0 0 black;
    display: block;
    height: 128px;
    width: 128px;
}

.thumbnail img {
    margin: 0 auto;
}

/* Definovanie samostatnych tried - KONIEC */

/* Definovanie samostatnych id - ZACIATOK */
#admin-table {
    height: 400px;
    overflow: auto;
}

#admin-table table td {
    white-space: nowrap;
}

#admin-table table td.teaser {
    white-space: normal;
}

#admin-table table tr {
    background: none repeat scroll 0 0 #E5E5E5;
}

#admin-table table tr:hover {
    background-color: #99cccc;
    color: #ffffff;
}

#admin-table table th {
    background: none repeat scroll 0 0 #D3DCE3;
    font-size: 1em;
    font-weight: bold;
    padding: 0.25em;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

#hlavny table tr {
    background: none repeat scroll 0 0 #E5E5E5;
}

#hlavny table tr:hover {
    background-color: #99CCCC;
}

#hlavny table tr td a {
    color: #0000ff;
    text-decoration: underline;
}

#hlavny table tr td a:hover {
    text-decoration: none;
}

/* Definovanie samostatnych id - KONIEC */

body.tlac_faktury {
    background: #fff;
}

body.tlac_faktury th {
    background: #000;
    color: #fff;
}

h2 {
    margin-top: 0.667em; /* Equivalent to 1em in the page's base font: 1 / 1.5 = 0.667em */
    margin-bottom: 0.667em;
    font-family: "Times New Roman", Times, Georgia, "Bitstream Vera Serif", serif;
    font-family: Times, "Times New Roman", Georgia, "Bitstream Vera Serif", serif;
    font-family: Georgia, "Times New Roman", "Bitstream Vera Serif", serif;
    font-size: 1.5em;
    line-height: 1.3em;
}

h2.polozka_siva {
    margin: 0 auto;
    border: 1px solid #b2b2b2;
    color: #808080;
    text-align: center;
}

h4, h5, h6 {
    margin-top: 0.909em; /* Equivalent to 1em in the page's base font: 1 / 1.1 = 0.909 */
    margin-bottom: 0.909em;
    font-family: "Times New Roman", Times, Georgia, "Bitstream Vera Serif", serif;
    font-family: Times, "Times New Roman", Georgia, "Bitstream Vera Serif", serif;
    font-family: Georgia, "Times New Roman", "Bitstream Vera Serif", serif;
    font-size: 1.1em;
    line-height: 1.3em;
}

h4.hlavicka_2 {
    margin: 0;
    padding: 0.25em;
    background: #fff;
    font-family: "Times New Roman", Times, Georgia, "Bitstream Vera Serif", serif;
    font-family: Times, "Times New Roman", Georgia, "Bitstream Vera Serif", serif;
    font-family: Georgia, "Times New Roman", "Bitstream Vera Serif", serif;
    font-size: 0.8em;
    font-weight: bold;
    text-align: center;
    color: #000;
}

input.input-text {
    font-size: 1em;
}

p.hlavicka_2_comment {
    margin: 0;
    padding: 0.25em;
    background: #D0D0D0;
    font-family: Verdana, Tahoma, Arial, Helvetica, "Bitstream Vera Sans", sans-serif;
    font-family: Tahoma, Verdana, Arial, Helvetica, "Bitstream Vera Sans", sans-serif;
    font-family: Helvetica, Arial, "Bitstream Vera Sans", sans-serif;
    font-family: Arial, Helvetica, "Bitstream Vera Sans", sans-serif;
    font-size: 0.55em;
    text-align: center;
}

p.obsah {
    margin: 0;
    padding: 0.25em;
    font-size: 0.7em;
    text-align: center;
    color: #000;
}

strong {
    font-weight: bold;
}

textarea {
    font-family: "Bitstream Vera Sans Mono", "Courier New", monospace;
    font-size: 1em;
    color: #000;
}

#manual {
    background: none repeat scroll 0 0 #99CC66;
    border: 2px dashed #FFFFFF;
    color: #FFFFFF;
    float: left;
    margin: 0 0 0 0.25em;
    padding: 0.25em;
    text-align: center;
    font-size: 12px;
}

#pata_uprava_tabulky {
    margin: 0.25em 0;
    padding: 0.25em;
    line-height: 24px;
    background: #D3DCE3;
    font-size: 0.8em;
    text-align: center;
}

#pata_uprava_tabulky a:hover,
#pata_uprava_tabulky a:focus {
    color: ff6e02;
}

#tabulka2 td {
    background: #99cccc;
}

#zalohovat_databazu {
    background: none repeat scroll 0 0 #66CCCC;
    border: 2px dashed #FFFFFF;
    color: #FFFFFF;
    float: left;
    margin: 0 0 0 0.25em;
    padding: 0.25em;
    text-align: center;
    font-size: 12px;
}

.oznamenie {
    color: #009900;
    text-align: center;
}

.poznamka {
    color: #ff3300;
}

.tabulka {
    float: left;
    margin: 0.25em;
    border: 1px solid #fff;
}

.thumb_desc {
    margin: 0.5em 0;
    width: 128px; /* Must be set because of thumbnail file name wraping! */
    font-family: Verdana, Tahoma, Arial, Helvetica, "Bitstream Vera Sans", sans-serif;
    font-family: Tahoma, Verdana, Arial, Helvetica, "Bitstream Vera Sans", sans-serif;
    font-family: Helvetica, Arial, "Bitstream Vera Sans", sans-serif;
    font-family: Arial, Helvetica, "Bitstream Vera Sans", sans-serif;
    font-size: 0.8em;
    color: #000000;
    word-wrap: break-word; /* Thumbnail file name wraping */
}

#hlavny textarea.helpbox {
    overflow: hidden;
    height: 45px;
    border: 0;
    background-color: transparent;
    font-family: sans-serif;
    font-size: 8pt;
    color: #000000;
}

.html_preview {
    padding: 0.25em;
    background-color: #fff;
    text-align: left;
    font-family: Verdana, Tahoma, Arial, Helvetica, "Bitstream Vera Sans", sans-serif;
    font-family: Tahoma, Verdana, Arial, Helvetica, "Bitstream Vera Sans", sans-serif;
    font-family: Helvetica, Arial, "Bitstream Vera Sans", sans-serif;
    font-family: Arial, Helvetica, "Bitstream Vera Sans", sans-serif;
    font-size: 100%;
    line-height: normal;
    color: #000;
}

.html_preview a,
.html_preview a:link {
    color: #0000ff;
    text-decoration: underline;
}

.html_preview a:hover,
.html_preview a:focus {
    text-decoration: none;
}

/* Nepouzivane */
#stlpec_lavy {
    float: left;
    margin: 0px 0px 2px 2px;
    padding: 3px;
    width: 250px;
    text-align: center;
    border-top: 1px dotted rgb(255, 255, 255);
    border-right: 1px dashed rgb(255, 255, 255);
    border-bottom: 1px dotted rgb(255, 255, 255);
    border-left: 1px dotted rgb(255, 255, 255);
}

#stlpec_stredny {
    float: left;
    margin: 0px 0px 2px 0px;
    padding: 3px;
    width: 250px;
    text-align: center;
    border-top: 1px dotted rgb(255, 255, 255);
    border-right: 1px dashed rgb(255, 255, 255);
    border-bottom: 1px dotted rgb(255, 255, 255);
}

#stlpec_pravy {
    float: left;
    margin: 0px 2px 2px 0px;
    padding: 3px;
    width: 251px;
    text-align: center;
    border-top: 1px dotted rgb(255, 255, 255);
    border-right: 1px dotted rgb(255, 255, 255);
    border-bottom: 1px dotted rgb(255, 255, 255);
}

.form_prihl {
    width: 75px;
    height: 25px;
    font-size: 8pt;
    font-weight: bold;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    color: #000000;
}

.form_prihl:hover {
    width: 75px;
    height: 25px;
    font-size: 8pt;
    background-color: rgb(0, 0, 0);
    border: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    cursor: pointer;
}

#admin_okno {
    display: block;
    height: 425px;
    margin: 0px 5px 5px 5px;
    padding: 5px;
    overflow: auto;
    border: 1px solid #b01c38;
    background-color: #ffffff;
    text-align: center;
}

#user-info {
    background: none repeat scroll 0 0 #D0D0D0;
    border: 2px dashed #FFFFFF;
    color: #000000;
    float: left;
    margin: 0 0 0 0.25em;
    padding: 0.25em;
    text-align: center;
    font-size: 12px;
}
#user-info strong {
    font-size: 14px;
};